.bg_img{
    background-image: url(assets/bg-img.jpg);
    align-items: center;
    background-repeat: no-repeat;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}