.bg_img{
    background-image: url(assets/bg-img.jpg);
    align-items: center;
    background-repeat: no-repeat;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.flex {
    display: flex;
}

.icon {
 width: 50px;
 height: 50px;
}

.nome_usuario {
    text-align: center;
}

.caixa {
    outline: 2px solid gray; /* cor e espessura */
    border-radius: 12px;    /* deixa arredondado */
    padding: 10px;
}