.bg_img{
    background-image: url(assets/bg-img.jpg), url(assets/painting_02.webp), url(assets/painting_03.jpg);
    align-items: center;
    background-repeat: repeat;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.flex {
    display: flex;
}

.icon {
width: 50px;
 height: 50px;
}

.nome_usuario {
    text-align: center;
}

.caixa {
    outline: 2px solid gray; 
    border-radius: 12px;    
    padding: 10px;
}